@font-face {
  font-family: "GeistRegular";
  src: local("GeistRegular"),
    url('../fonts/Geist/Geist-Regular.otf') format("truetype");
  font-weight: bold;
}

.fontRegular {
  font-family: "GeistRegular";
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}